*   {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'RobotoSlab', sans-serif;
    text-decoration: none;
}

body    {
    position: relative;
    height: 100vh;
}

/*style navbar*/

nav {
    background-color: #191e24f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 15px 50px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
    color: #fff;
}

nav ul  {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

li {
    width: 70px;
}

li a {
    font-size: 1.1rem;
    cursor: pointer;
    padding: 20px 15px;
    transition: 0.5s;
    color: #fff;
}

li a:hover  {
    color: #f1c40f;
    border-bottom: 4px #f1c40f solid;
    transition: 0.5s;
}

/*akhir style navbar*/