*   {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'RobotoSlab', sans-serif;
    text-decoration: none;
}

body    {
    padding: 0 50px;
    position: relative;
    height: 100vh;
}

/*style navbar*/

nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 50px;
    color: #000;
}

nav ul  {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
}


li a {
    font-size: 1.1rem;
    cursor: pointer;
    padding: 20px 15px;
    transition: 0.5s;
    color: #000;
}

li a:hover  {
    color: #03fc28;
    border-bottom: 3px #03fc28 solid;
    transition: 0.3s;
}

/*akhir style navbar*/

/*style poster*/

/*akhir style poster*/