body {
    margin: 0;
    padding: 50px;
}

nav {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}


.SMAFTI {
    width: 80px;
}


.TELKOM {
    width: 80px;
    position: relative;
    bottom: 6px;
    right: 15px;
}

.SMK {
    width: 100px;
    position: relative;
    right: 28px;
    bottom: 10px;
}